*{
    margin: 0;
}
figure>img,.bigImg span{
    cursor: pointer;
}
#lightbox{
    width: 949px;
    height: 800px;
    margin: 0 auto;
}
figure>img{
    width: 300px;
    height: 240px;
    float: left;

    margin: 5px;
}
#lightbox .bigImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
#lightbox .bigImg img{
    height: 400px;
    width: 600px;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    display: block;
}

#lightbox .bigImg span{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 200px;
    right: 200px;
}
button{
    background-color: #000000;
    color: white;
    font-size: 29px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    border: none;
    margin-left: 60px;
    cursor: pointer;
    outline: none;
}
p{
    position: absolute;
    top: calc(50% - 25px);
}
div p:nth-of-type(2){

    right:calc(25% - 25px);
}
div p:nth-of-type(1){
    right:calc(75% - 25px);
}

