*{
    padding: 0;
    margin: 0;
}
#lightbox{
    width: 1000px;
    margin: 10px auto;
    overflow: hidden;
}
figure{
    float: left;
    margin-right:30px ;
    position: relative;
}
figure img{
    width: 300px;
}
figure figcaption{
    position: absolute;
    left: 50%;
    top: 50%;
   line-height: 30px;

    color: white;
    width: 100px;
    text-align: center;
    transform: translate(-50%,-50%);
    transition: all 1s;
}
figure:hover figcaption {
    border: 1px solid white;
}
#zhe{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: grey;
    display: none;
}
#zhe #boxImg{
    width: 700px;
    margin: 60px auto;
    position: relative;
}
#zhe #boxImg img{
    width: 700px;
}
#boxImg button{
    position: absolute;
    width: 60px;
    height: 60px;
    background: black;
    outline: none;
    border: none;
}
#boxImg #next{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/toPre.png");


}
#boxImg #pre{
    right:0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/toNext.png");

}
#boxImg #close{
    width: 32px;
    height: 32px;
    right: 0;
    background: url("../img/close.png");
}