*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1b6d85;
}
.box{
    width: 510px;
    height: 340px;
    margin: 100px auto;
    position: relative;
}
ul{
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    left: 200px;
}
ul li{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #9d9d9d;
    float: left;
    margin-left: 2px;
    list-style-type: none;
}
.active{
    background-color: #dd6006;
}
#imgList img{
    width: 510px;
    height: 340px;
    display: block;
    transition: all .3s linear;
}
.pre,.next{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: rgba(0,0,0,.4);
    color: white;
    position: absolute;
    top:calc(50% - 25px);
    text-align: center;
}
.pre{
    left: 0;
}
.next{
    right: 0;
}