<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table{
        width: 600px;
        text-align: center;
        margin-top: 15px;
    }
    #app>div>serach{
        width: 60px;
    }
    tbody:empty:after{
        content: "暂无任何类容";
    }
    #add{
        margin: 10px;

    }
    #add>input{
        width: 160px;
        margin: 5px;
    }
</style>
<body>
<div id="app">
    <div>
        <input id="serach" type="text" v-model="serach" >
    </div>
    <table border="1px" cellspacing="0" cellpadding="8">
        <thead>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index in getstudentSerach ">
              <td>{{item.name}}</td>
              <td>{{item.age}}</td>
              <td>{{item.sex}}</td>
              <td><button @click="del(index)">删除</button>
                  <button @click="modify(index)">修改</button>
              </td>
          </tr>
        </tbody>
    </table>
    <div id="add">
      姓名: <input type="text" v-model="addlist.name"><br>
       年龄: <input type="text" v-model="addlist.age"><br>
       性别:<input type="text"  v-model="addlist.sex"><br>
        <button @click="Add()">添加</button>
    </div>
    <div class="content" v-show="ss">
        <!--ID：<input type="text" v-model="edit.id"> <br>-->
        姓名： <input type="text" v-model="update_name" /> <br>
        年龄：<input type="text" v-model="update_age" /><br>
        性别：<input type="text" v-model="update_sex" /><br>
        下标：<input type="text" v-model="update_index" /><br>
        <button @click=" update()">修改</button>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script type="text/javascript">
    var app= new Vue({
        el: "#app",
        data: {

            addlist:{
                name:"",age:"",sex:""},
            serach: "",

            student:[
                {name: "小王", age: 15, sex: "男"},
                {name: "小李", age: 25, sex: "女"},
                {name: "小张", age: 35, sex: "男"},
                {name: "小吴", age: 45, sex: "女"},
                {name: "小龙", age: 55, sex: "男"},
                {name: "小子", age: 65, sex: "女"}],
            ss:false,
            ss:"",
            update_name:"",
            update_age:"",
            update_sex:"",
            update_index:""
        },
        methods: {
            del: function (index) {
                this.student.splice(index, 1);
            },
            Add: function () {
                this.student.push(this.addlist);
                this.addlist={};

            },
            modify:function (index) {
                this.ss=true;
                this.update_name=this.student[index].name;
                this.update_age=this.student[index].age;
                this.update_sex=this.student[index].sex;
                this.update_index=index;

            },
            update:function () {
                this.student[this.update_index].name=this.update_name;
                this.student[this.update_index].age=this.update_age;
                this.student[this.update_index].sex=this.update_sex;
                this.update_name="";
                this.update_age="";
                this.update_sex="";
                this.update_index="";

            }


        },
        computed: {
            getstudentSerach: function () {
                var serach = this.serach;
                var arr = [];
                for (var i = 0; i < this.student.length; i++) {
                    if (this.student[i].name.indexOf(serach) >= 0) {
                        arr.push(this.student[i]);
                    }
                }
                return arr;
            }
        }
    });
</script>
</html>