*{
    margin: 0;
    padding: 0;
}
#lightBox{
    margin: 0 auto;
    width: 1240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    justify-content: center;
    position: relative;
}
#lightBox figure{
    margin: 5px;
    position: relative;
    cursor: pointer;
}
#lightBox figure:hover figcaption{
    border: 2px solid white;
}
#lightBox figure img{
    width: 300px;
    height: 220px;
}
#lightBox figure figcaption{
    position: absolute;
    width: 100px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-weight: bolder;
    top: calc(50% - 45px);
    left: calc(50% - 50px);
}
#lightBox #modal{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #404040;
    z-index: 1;
}
#lightBox #modal div{
    position: fixed;
    width: 700px;
    height: 400px;
    top:calc(50% - 200px);
    left: calc(50% - 350px);
    background-image: url("img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*position: relative;*/
}
#lightBox #modal #close{
    position: absolute;
    top: 0;
    right: 0;
}
#lightBox #modal #toPre,#lightBox #modal #toNext{
    position: absolute;
    top: calc(50% - 30px);
    display: none;
}
#lightBox #modal #toNext{
    right:0;
}
#lightBox #modal div:hover #toNext,#lightBox #modal div:hover #toPre{display: block}