*{
    margin: 0;
    padding: 0;
}
#lightbox{
    overflow: hidden;
    margin: 40px 0px 0px 50px;
    position: relative;
}
#lightbox>figure{
    float: left;
    margin: 10px 30px;
    text-align: center;
    position: relative;
}
#lightbox>figure>img{
    width: 410px;
    height: 280px;
    /*height: 100px;*/
}
#lightbox>figure>figcaption{
    position: absolute;
    width: 130px;
    height: 50px;
    line-height: 50px;
    left: calc((410px - 130px)/2);
    top: 320px;
    transition: all linear .5s;
    border: 2px solid white;
    color: white;
}
#lightbox>figure:hover >figcaption{
    top:calc((280px - 50px)/2);
}
.zhe{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}
.hiden{
    display: none;
}
.show{
    display: block;
}
.big{
    transform: scale(2);
}
#showList{
    position: absolute;
    width: calc(410px * 1.5);
    height: calc(280px * 1.5);
    left: calc((100% - (410px * 1.5))/2);
    top: calc((100% - (280px * 1.5))/2);
    /*border: 3px solid red;*/
    z-index: 3;
    /*display: none;*/
    overflow: hidden;
}

#showList>img{
    width: calc(410px * 1.5);
    height: calc(280px * 1.5);
    position: relative;
}
#showList span{
    position: absolute;
    z-index: 5;
}
#leftImg{
    left: 10px;
    top: 180px;

}
#rightImg{
    right: 10px;
    top: 180px;
}
#closeImg{
    right: 20px;
    top: 15px;
}