*{
    margin: 0;
    padding: 0;
}
#lightbox {
    width: 100%;
    height:auto;
}
figure img {
    width: 100%;
}
figure {
    cursor: pointer;
    float: left;
    width:calc((100% - 30px)/4);
    margin-left: 10px;
}
figure:nth-of-type(4n-3) {
    margin-left:0;
}
.zhe {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.7);
}
.up {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height:80%;
    z-index: 2;
    background-color: black;
}
.up>img {
    width: 100%;
    height:100%;
}
.up div {
    cursor: pointer;
    position: absolute;
    z-index: 3;
}
#next {
    right: -50px;
    top: calc(50% - 30px);
}
#prev {
    left: -50px;
    top: calc(50% - 30px);
}
#del {
    right: 20px;
    top: 20px;
}