.xiDe_DengXiangList{
    /*width: 100%;*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*-webkit-justify-content: space-around;*/
    /*justify-content: space-around;*/
    padding:30px 300px;
}
.xiDe_DengXiangflexFN{
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.xiDe_DengXiangList>figure{
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.xiDe_DengXiangList>figure>img{
    height: 400px;
}
.xiDe_DengXiangList>figure>figcaption{
    width: 300px;
    height: 100px;
    color: white;
    border: 5px solid white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    opacity:0 ;
    transition: all .5s ease;
}
.xiDe_DengXiangList>figure:hover>figcaption{
    opacity: 1;
}
.xiDe_DengXiangLunBoBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    transition: all .3s ease;
}
.xiDe_DengXiangLunBoXianShiBox{
    width: 1200px;
    height: 700px;
    border: 10px solid white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
.xiDe_DengXiangLunBoXianShiBox>img{
    height: 700px;
}
#xiDe_DengXingLunBoBoxEnd{
    position: absolute;
    right:10px;
    top: 10px;
    font-size: 40px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#xiDe_DengXingLunBoBoxMoveRight{
    position: absolute;
    font-size: 100px;
    color: white;
    font-weight: 600;
    top: 300px;
    right:10px;
    cursor: pointer;
}
#xiDe_DengXingLunBoBoxMoveLeft{
    position: absolute;
    font-size: 100px;
    color: white;
    font-weight: 600;
    top: 300px;
    left:10px;
    cursor: pointer;
}
.xiDe_LunBoDisend{
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
}